{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      About : </p>
    <p class="box">
      <i class="fab fa-wpexplorer fa-10x"></i>
      
    </p>
  </div>
</section>
