{{> menu}}
<section class="section">
  <div class="title">
    {{category.title}}
  </div>


</section>
{{> add-placemarker}}
<div class="columns">
  <div class="column">

    
    {{> list-placemarker}}
  </div>
  <div class="column">

  {{> category-image}}
  </div>
</div>