<section> 
    <form action="/dashboard/addPOI" method ="POST">
       <label class="label">Add POI Details</label>
       <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" placeholder="POI Name" name="title">
            </div>
            <div class="field">
              <input class="input" type="text" placeholder="Latitude" name="lat">
            </div>
            <div class="field">
              <input class="input" type="text" placeholder="longitude" name="long">
            </div>
          </div>
        </div>
        <button class="button is-primary">Add POI</button>
    </form>
</section>