<section> 
    <form action="/dashboard/addCategory" method ="POST">
       <label class="label">Add Category Details</label>
       <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" placeholder="Catogory Name" name="title">
            </div>
          </div>
        </div>
        <button class="button is-primary">Add Category</button>
    </form>
</section>