<form class="box" action="/category/{{category._id}}/addPlacemarker" method="POST">
  <label>Enter Placemarker Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="long">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Difficulty" name="difficulty">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Placemarker</button>
  
</form>



